<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="~{Fragments/Header :: admin}"></head>

<body>
  <div class="wrapper">
    <!-- Sidebar -->
    <div th:replace="~{Fragments/Sidebar :: admin}"></div>

    <!-- End Sidebar -->

    <div class="main-panel">
      <div th:insert="~{Fragments/Admin :: main-header}"></div>
      
      <div class="container">
        <div class="page-inner">
          <div th:insert="~{Fragments/Admin :: general}"></div>
          <div th:insert="~{Fragments/Admin :: finance}"></div>
          <div th:insert="~{Fragments/Admin :: transportation}"></div>
          <div th:insert="~{Fragments/Admin :: Transaction}"></div>          
        </div>
      </div>

      <footer th:replace="Fragments/Footer :: admin"></footer>

    </div>
  </div>
  <div th:replace="~{Fragments/Scripts :: admin}"></div>
  <script src="/js/Admin/View/admin.js"></script>
</body>

</html>