<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="/img/fav.png">
	<!-- Author Meta -->
	<meta name="author" content="CodePixar">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>Karma Shop</title>

	<!--
            CSS
            ============================================= -->
	<link rel="stylesheet" href="/css/linearicons.css">
	<link rel="stylesheet" href="/css/owl.carousel.css">
	<link rel="stylesheet" href="/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/themify-icons.css">
	<link rel="stylesheet" href="/css/nice-select.css">
	<link rel="stylesheet" href="/css/nouislider.min.css">
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/main.css">
</head>

<body id="category">

	<!-- Start Header Area -->
	<header th:insert="~{client_fragments/header :: header}" class="header_area sticky-header"></header>
	<!-- End Header Area -->

	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Category Page</h1>
					<nav class="d-flex align-items-center">
						<a href="home">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="category">Category</a>
					</nav>
				</div>
			</div>
		</div>
	</section>

	<!-- End Banner Area -->
	<div class="container">
		<div class="row">
			<div class="col-xl-3 col-lg-4 col-md-5">
				<div class="sidebar-filter">
					<div class="top-filter-head">Product Filters</div>
					<div class="common-filter">
						<div class="sorting">
							<div class="filter-list">
								<input class="pixel-radio" type="radio" id="name_asc" name="sort-option" value="name_asc">
								<label for="name_asc">Name (A-Z)</label>
							</div>
							<div class="filter-list">
								<input class="pixel-radio" type="radio" id="name_desc" name="sort-option" value="name_desc">
								<label for="name_desc">Name (Z-A)</label>
							</div>
							<div class="filter-list">
								<input class="pixel-radio" type="radio" id="price_asc" name="sort-option" value="price_asc">
								<label for="price_asc">Price (Lower-Upper)</label>
							</div>
							<div class="filter-list">
								<input class="pixel-radio" type="radio" id="price_desc" name="sort-option" value="price_desc">
								<label for="price_desc">Price (Upper-Lower)</label>
							</div>
						</div>
					</div>
					<div class="common-filter">
						<div class="head">Brands</div>
						<form action="#">
							<ul>
								<li class="filter-list"><input class="pixel-radio" type="radio" id="apple" name="brand"><label for="apple">Nike<span>(29)</span></label></li>
								<li class="filter-list"><input class="pixel-radio" type="radio" id="asus" name="brand"><label for="asus">Jordan<span>(29)</span></label></li>
								<li class="filter-list"><input class="pixel-radio" type="radio" id="gionee" name="brand"><label for="gionee">Adidas<span>(19)</span></label></li>
								<li class="filter-list"><input class="pixel-radio" type="radio" id="micromax" name="brand"><label for="micromax">AllStars<span>(19)</span></label></li>
								<li class="filter-list"><input class="pixel-radio" type="radio" id="samsung" name="brand"><label for="samsung">Converse<span>(19)</span></label></li>
							</ul>
						</form>
					</div>
					<div class="common-filter">
						<div class="head">Sort</div>
						<form action="#">
							<ul>
								<li class="filter-list"><input class="pixel-radio" type="radio" id="black" name="color"><label for="black">Black<span>(29)</span></label></li>
								<li class="filter-list"><input class="pixel-radio" type="radio" id="balckleather" name="color"><label for="balckleather">Black
										Leather<span>(29)</span></label></li>
								<li class="filter-list"><input class="pixel-radio" type="radio" id="blackred" name="color"><label for="blackred">Black
										with red<span>(19)</span></label></li>
								<li class="filter-list"><input class="pixel-radio" type="radio" id="gold" name="color"><label for="gold">Gold<span>(19)</span></label></li>
								<li class="filter-list"><input class="pixel-radio" type="radio" id="spacegrey" name="color"><label for="spacegrey">Spacegrey<span>(19)</span></label></li>
							</ul>
						</form>
					</div>
					<div class="common-filter">
						<div class="head">Price</div>
						<div class="price-range-area">
							<div id="price-range"></div>
							<div class="value-wrapper d-flex">
								<div class="price">Price:</div>
								<span>$</span>
								<div id="lower-value">10</div>
								<div class="to">to</div>
								<span>$</span>
								<div id="upper-value">1000</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Product List -->
<!--			<div class="col-xl-9 col-lg-8 col-md-7">-->
<!--				<section class="latest-product-area pb-40 category-list">-->
<!--					<div id="product-list" class="row">-->
<!--						&lt;!&ndash; Products will be dynamically inserted here &ndash;&gt;-->
<!--					</div>-->
<!--				</section>-->
<!--			</div>-->
			<div class="col-xl-9 col-lg-8 col-md-7">
				<!-- Start Filter Bar -->
				<div class="filter-bar d-flex flex-wrap align-items-center">
					<div class="sorting mr-auto">
						<select>
							<option value="1">Show 12</option>
							<option value="1">Show 12</option>
							<option value="1">Show 12</option>
						</select>
					</div>
					<div class="pagination">
						<a href="#" class="prev-arrow"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a>
						<a href="#" class="active">1</a>
						<a href="#">2</a>
						<a href="#">3</a>
						<a href="#" class="dot-dot"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>
						<a href="#">6</a>
						<a href="#" class="next-arrow"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
					</div>
				</div>
				<!-- End Filter Bar -->
				<!-- Start Best Seller -->
				<section class="latest-product-area pb-40 category-list">
					<div id="product-list" class="row">
						<!-- Các sản phẩm sẽ được chèn vào đây thông qua JavaScript sau khi gọi AJAX -->
					</div>
				</section>
				<!-- End Best Seller -->
				<!-- Start Filter Bar -->
				<div class="filter-bar d-flex flex-wrap align-items-center">
					<div class="sorting mr-auto">
						<select>
							<option value="1">Show 12</option>
							<option value="1">Show 12</option>
							<option value="1">Show 12</option>
						</select>
					</div>
					<div class="pagination">
						<a href="#" class="prev-arrow"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a>
						<a href="#" class="active">1</a>
						<a href="#">2</a>
						<a href="#">3</a>
						<a href="#" class="dot-dot"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>
						<a href="#">6</a>
						<a href="#" class="next-arrow"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
					</div>
				</div>
				<!-- End Filter Bar -->
			</div>
		</div>
	</div>
	<script>
		document.addEventListener("DOMContentLoaded", function() {
			const priceRange = document.getElementById("price-range");
			let lowerValue = 10;
			let upperValue = 500;
			let currentSort = 'name_asc'; // Biến lưu lựa chọn sắp xếp hiện tại

			noUiSlider.create(priceRange, {
				start: [lowerValue, upperValue],
				connect: true,
				range: {
					'min': 10,
					'max': 500
				}
			});
			priceRange.noUiSlider.on('change', function(values) {
				const lower = Math.round(values[0]);
				const upper = Math.round(values[1]);
				document.getElementById("lower-value").innerText = lower;
				document.getElementById("upper-value").innerText = upper;
				fetchProducts("", lower, upper, currentSort);
			});
			const searchInput = document.getElementById("search_input");
			searchInput.addEventListener("input", function() {
				const query = searchInput.value.trim();
				fetchProducts(query, lowerValue, upperValue ,currentSort);
			});
			const sortOptions = document.querySelectorAll('input[name="sort-option"]');
			sortOptions.forEach(function(option) {
				option.addEventListener("change", function() {
					currentSort = option.value; // Cập nhật giá trị sắp xếp hiện tại
						fetchProducts(searchInput.value.trim(), lowerValue, upperValue, currentSort); // Refresh products list
				});
			});

			// Hiển thị tất cả sản phẩm ban đầu
			fetchProducts("", lowerValue, upperValue,currentSort);
			function fetchProducts(query, lower, upper, sort) {
				fetch(`/api/product/search?query=${encodeURIComponent(query)}&sort=${sort}&minPrice=${lower}&maxPrice=${upper}`)
						.then(response => response.json())
						.then(data => {
							if (data.code === 200) {
								displayProducts(data.result);
							}
						})
						.catch(error => console.error('Error:', error));
			}


			function displayProducts(products) {
				const productList = document.getElementById('product-list');
				productList.innerHTML = '';
				products.forEach(product => {
					const productHTML = `
                    <div class="col-lg-4 col-md-6">
                        <div class="single-product">
                            <img class="img-fluid" src="${product.image}" alt="">
                            <div class="product-details">
                                <h6>${product.name}</h6>
                                <div class="price">
                                    <h6>$${product.price}</h6>
                                </div>
                                <div class="prd-bottom">
                                    <a href="#" class="social-info">
                                        <span class="ti-bag"></span>
                                        <p class="hover-text">add to bag</p>
                                    </a>
                                    <a href="#" class="social-info">
                                        <span class="lnr lnr-heart"></span>
                                        <p class="hover-text">Wishlist</p>
                                    </a>
                                    <a href="#" class="social-info">
                                        <span class="lnr lnr-sync"></span>
                                        <p class="hover-text">compare</p>
                                    </a>
                                    <a href="/single-product/${product.id}" class="social-info">
                                        <span class="lnr lnr-move"></span>
                                        <p class="hover-text">view more</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>`;
					productList.insertAdjacentHTML('beforeend', productHTML);
				});
			}
		});
	</script>


	<!-- start footer Area -->
	<footer th:insert="client_fragments/footer :: footer" class="footer-area section_gap"></footer>
	<!-- End footer Area -->

	<!-- Modal Quick ProductView View -->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="container relative">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<div class="product-quick-view">
					<div class="row align-items-center">
						<div class="col-lg-6">
							<div class="quick-view-carousel">
								<div class="item" style="background: url(/img/organic-food/q1.jpg);">

								</div>
								<div class="item" style="background: url(/img/organic-food/q1.jpg);">

								</div>
								<div class="item" style="background: url(/img/organic-food/q1.jpg);">

								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="quick-view-content">
								<div class="top">
									<h3 class="head">Mill Oil 1000W Heater, White</h3>
									<div class="price d-flex align-items-center"><span class="lnr lnr-tag"></span> <span class="ml-10">$149.99</span></div>
									<div class="category">Category: <span>Household</span></div>
									<div class="available">Availability: <span >In Stock</span></div>
								</div>
								<div class="middle">
									<p class="content">Mill Oil is an innovative oil filled radiator with the most modern technology. If you are
										looking for something that can make your interior look awesome, and at the same time give you the pleasant
										warm feeling during the winter.</p>
									<a href="#" class="view-full">View full Details <span class="lnr lnr-arrow-right"></span></a>
								</div>
								<div class="bottom">
									<div class="color-picker d-flex align-items-center">Color:
										<span class="single-pick"></span>
										<span class="single-pick"></span>
										<span class="single-pick"></span>
										<span class="single-pick"></span>
										<span class="single-pick"></span>
									</div>
									<div class="quantity-container d-flex align-items-center mt-15">
										Quantity:
										<input type="text" class="quantity-amount ml-15" value="1" />
										<div class="arrow-btn d-inline-flex flex-column">
											<button class="increase arrow" type="button" title="Increase Quantity"><span class="lnr lnr-chevron-up"></span></button>
											<button class="decrease arrow" type="button" title="Decrease Quantity"><span class="lnr lnr-chevron-down"></span></button>
										</div>

									</div>
									<div class="d-flex mt-20">
										<a href="#" class="view-btn color-2"><span>Add to Cart</span></a>
										<a href="#" class="like-btn"><span class="lnr lnr-layers"></span></a>
										<a href="#" class="like-btn"><span class="lnr lnr-heart"></span></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>



	<script src="/js/vendor/jquery-2.2.4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
	 crossorigin="anonymous"></script>
	<script src="/js/vendor/bootstrap.min.js"></script>
	<script src="/js/jquery.ajaxchimp.min.js"></script>
	<script src="/js/jquery.nice-select.min.js"></script>
	<script src="/js/jquery.sticky.js"></script>
	<script src="/js/nouislider.min.js"></script>
	<script src="/js/jquery.magnific-popup.min.js"></script>
	<script src="/js/owl.carousel.min.js"></script>
	<!--gmaps Js-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
	<script src="/js/gmaps.min.js"></script>
	<script src="/js/main.js"></script>
</body>

</html>