<!DOCTYPE html>
<html lang="zxx" class="no-js" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{Fragments/Header :: client}">

<body>
	<div th:insert="~{Fragments/Navbar :: client}" class="header_area sticky-header"></div>
	
	<div th:insert="~{Fragments/Search :: client-home-search}" class="search_input" id="search_input_box"></div>
	
	<section th:insert ="~{Fragments/Banner :: home}" class="banner-area organic-breadcrumb"></section>
	
	<section th:insert ="~{Fragments/Home :: benefits}" class="features-area section_gap"></section>
	
	<section th:insert="~{Fragments/Home :: category}" class="category-area"></section>
	
	<section class="owl-carousel active-product-area section_gap">
		<div th:insert="~{Fragments/Home :: latest-products}"  class="single-product-slider"></div>
		<div th:insert="~{Fragments/Home :: comming-products}"  class="single-product-slider"></div>
	</section>

	<section th:insert="~{Fragments/Home :: advertisement}" class="exclusive-deal-area"></section>

	<footer th:replace="Fragments/Footer :: client" class="footer-area section_gap"></footer>
	
	<div th:replace="~{Fragments/Scripts :: client}" class="header_area sticky-header"></div>
</body>
</html>