<div th:fragment="register" class="container">
    <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
        <div class="col-first">
            <h1>Login Page</h1>
            <nav class="d-flex align-items-center">
                <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                <a href="register.html">Register</a>
            </nav>
        </div>
    </div>
</div>

<div th:fragment="login" class="container">
    <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
        <div class="col-first">
            <h1>Login Page</h1>
            <nav class="d-flex align-items-center">
                <a th:href="@{/}">Home<span class="lnr lnr-arrow-right"></span></a>
                <a th:href="@{/login}">Login</a>
            </nav>
        </div>
    </div>
</div>

<div th:fragment="home" class="container">
    <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
        <div class="col-first">
            <h1>Home Page</h1>
            <nav class="d-flex align-items-center">
                <a th:href="@{/}">Home</a>
            </nav>
        </div>
    </div>
</div>