<div
  th:fragment="brand-registration"
  id="brand-registration"
  class="modal fade"
  tabindex="-1"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <form class="card" method="post">
        <div class="modal-header card-header">
          <h5 class="modal-title card-title">Brand Registration Hello World</h5>
          <button
            type="button"
            class="btn-danger"
            data-bs-dismiss="modal"
          >&times;</button>
        </div>

        <div class="modal-body">
          <div class="mb-3">
            <label for="brand-name" class="form-label">Brand Name</label>
            <input
              type="text"
              class="form-control"
              id="brand-name"
              name="brand-name"
              required
            />
          </div>

          <div class="mb-3">
            <label for="brand-name" class="form-label">Brand Website link</label>
            <input
              type="text"
              class="form-control"
              id="brand-name"
              name="brand-name"
              required
            />
          </div>

        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Register</button>
          <button
            type="button"
            class="btn btn-danger"
            data-bs-dismiss="modal"
          >
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
