<!DOCTYPE html>
<html lang="zxx" class="no-js" xmlns="">
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- Owl Carousel CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
	<!-- Owl Carousel JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="/img/fav.png">
	<!-- Author Meta -->
	<meta name="author" content="CodePixar">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>Karma Shop</title>
	<!--
		CSS
		============================================= -->
	<link rel="stylesheet" href="/css/linearicons.css">
	<link rel="stylesheet" href="/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/themify-icons.css">
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/owl.carousel.css">
	<link rel="stylesheet" href="/css/nice-select.css">
	<link rel="stylesheet" href="/css/nouislider.min.css">
	<link rel="stylesheet" href="/css/ion.rangeSlider.css" />
	<link rel="stylesheet" href="/css/ion.rangeSlider.skinFlat.css" />
	<link rel="stylesheet" href="/css/magnific-popup.css">
	<link rel="stylesheet" href="/css/main.css">



</head>

<body>
	<!-- Start Header Area -->
	<header  th:insert="fragments/header :: header" class="header_area sticky-header"></header>
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Home Page</h1>
					<nav class="d-flex align-items-center">
						<a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="category.html">Blog</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End banner Area -->
	<!-- start features Area -->
	<section th:insert ="fragments/features :: features" class="features-area section_gap"></section>
	<!-- end features Area -->
	<!-- Start category Area -->
	<section th:insert="fragments/category-fragment :: category-fragment" class="category-area"></section>
		<!-- End category Area -->
		<!-- start product Area -->
		<section  class="owl-carousel active-product-area section_gap">
			<!-- single product slide -->
			<div  class="single-product-slider">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-lg-6 text-center">
							<div class="section-title">
								<h1>Latest Products</h1>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
							</div>
						</div>
					</div>
					<div class="row">
						<th:block th:each="product : ${latest_products}">
							<!-- single product -->
							<div class="col-lg-3 col-md-6">
								<div class="single-product">
									<img class="img-fluid" th:src="@{${product.imageUrl}}" alt="">
									<div class="product-details">
										<h6 th:text="${product.name}"></h6>
										<div class="price">
											<h6 th:text="${product.price}"></h6>
											<h6 class="l-through" th:text="${product.originalPrice}"></h6>
										</div>
										<div class="prd-bottom">
											<a href="#" class="social-info">
												<span class="ti-bag"></span>
												<p class="hover-text">add to bag</p>
											</a>
											<a href="#" class="social-info">
												<span class="lnr lnr-heart"></span>
												<p class="hover-text">Wishlist</p>
											</a>
											<a href="#" class="social-info">
												<span class="lnr lnr-sync"></span>
												<p class="hover-text">compare</p>
											</a>
											<a href="#" class="social-info">
												<span class="lnr lnr-move"></span>
												<p class="hover-text">view more</p>
											</a>
										</div>
									</div>
								</div>
							</div>
						</th:block>
					</div>
				</div>
			</div>
			<!-- single product slide -->
			<div class="single-product-slider">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-lg-6 text-center">
							<div class="section-title">
								<h1>Coming Products</h1>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
									dolore
									magna aliqua.</p>
							</div>
						</div>
					</div>
					<!-- single product -->
					<div class="row">
						<th:block th:each="product : ${coming_products}">
							<!-- single product -->
							<div class="col-lg-3 col-md-6">
								<div class="single-product">
									<img class="img-fluid" th:src="@{${product.imageUrl}}" alt="">
									<div class="product-details">
										<h6 th:text="${product.name}"></h6>
										<div class="price">
											<h6 th:text="${product.price}"></h6>
											<h6 class="l-through" th:text="${product.originalPrice}"></h6>
										</div>
										<div class="prd-bottom">
											<a href="#" class="social-info">
												<span class="ti-bag"></span>
												<p class="hover-text">add to bag</p>
											</a>
											<a href="#" class="social-info">
												<span class="lnr lnr-heart"></span>
												<p class="hover-text">Wishlist</p>
											</a>
											<a href="#" class="social-info">
												<span class="lnr lnr-sync"></span>
												<p class="hover-text">compare</p>
											</a>
											<a href="#" class="social-info">
												<span class="lnr lnr-move"></span>
												<p class="hover-text">view more</p>
											</a>
										</div>
									</div>
								</div>
							</div>
						</th:block>
					</div>
				</div>
			</div>
		</section>
		<!-- end product Area -->

		<!-- Start exclusive deal Area -->
		<section class="exclusive-deal-area">
			<div class="container-fluid">
				<div class="row justify-content-center align-items-center">
					<div class="col-lg-6 no-padding exclusive-left">
						<div class="row clock_sec clockdiv" id="clockdiv">
							<div class="col-lg-12">
								<h1>Exclusive Hot Deal Ends Soon!</h1>
								<p>Who are in extremely love with eco friendly system.</p>
							</div>
							<div class="col-lg-12">
								<div class="row clock-wrap">
									<div class="col clockinner1 clockinner">
										<h1 class="days">150</h1>
										<span class="smalltext">Days</span>
									</div>
									<div class="col clockinner clockinner1">
										<h1 class="hours">23</h1>
										<span class="smalltext">Hours</span>
									</div>
									<div class="col clockinner clockinner1">
										<h1 class="minutes">47</h1>
										<span class="smalltext">Mins</span>
									</div>
									<div class="col clockinner clockinner1">
										<h1 class="seconds">59</h1>
										<span class="smalltext">Secs</span>
									</div>
								</div>
							</div>
						</div>
						<a href="" class="primary-btn">Shop Now</a>
					</div>
					<div class="col-lg-6 no-padding exclusive-right">
						<div class="active-exclusive-product-slider">
							<div th:each="product : ${exclusive_products}" class="single-exclusive-slider">
								<img class="img-fluid" th:src="@{${product.imageUrl}}" alt="Exclusive Product">
								<div class="product-details">
									<div class="price">
										<h6 th:text="${product.price}"></h6>
										<h6 class="l-through" th:text="${product.originalPrice}"></h6>
									</div>
									<h4 th:text="${product.name}"></h4>
									<div class="add-bag d-flex align-items-center justify-content-center">
										<a class="add-btn" href="#"><span class="ti-bag"></span></a>
										<span class="add-text text-uppercase">Add to Bag</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End exclusive deal Area -->

		<!-- Start brand Area -->
		<section class="brand-area section_gap">
			<div class="container">
				<div class="row" >
					<a th:each="brand : ${brands}" class="col single-img" href="">
						<img class="img-fluid d-block mx-auto" th:src="@{${brand.thumbnail_url}}" alt="">
					</a>
				</div>
			</div>
		</section>
		<!-- End brand Area -->

		<!-- Start related-product Area -->
		<section class="related-product-area section_gap_bottom">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-6 text-center">
						<div class="section-title">
							<h1>Deals of the Week</h1>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
								magna aliqua.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-9">
						<div class="row">
							<div th:each="product : ${related_products}" class="col-lg-4 col-md-4 col-sm-6 mb-20">
								<div class="single-related-product d-flex">
									<a href="#"><img th:src="@{${product.getImageUrl()}}" alt=""></a>
									<div class="desc">
										<a href="#" class="title" th:text="${product.name}"></a>
										<div class="price">
											<h6 th:text="${product.price}"></h6>
											<h6 th:text="${product.originalPrice}" class="l-through"></h6>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="ctg-right">
							<a href="#" target="_blank">
								<img class="img-fluid d-block mx-auto" src="/img/category/c5.jpg" alt="">
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End related-product Area -->

		<!-- start footer Area -->
	<footer th:insert="fragments/footer :: footer" class="footer-area section_gap"></footer>
	<!-- End footer Area -->

	<script src="/js/vendor/jquery-2.2.4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
	 crossorigin="anonymous"></script>
	<script src="/js/vendor/bootstrap.min.js"></script>
	<script src="/js/jquery.ajaxchimp.min.js"></script>
	<script src="/js/jquery.nice-select.min.js"></script>
	<script src="/js/jquery.sticky.js"></script>
	<script src="/js/nouislider.min.js"></script>
	<script src="/js/countdown.js"></script>
	<script src="/js/jquery.magnific-popup.min.js"></script>
	<script src="/js/owl.carousel.min.js"></script>
	<!--gmaps Js-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
	<script src="/js/gmaps.min.js"></script>
	<script src="/js/main.js"></script>
</body>

</html>