<!DOCTYPE html>
<html lang="en">
<head>
    <title>Payment Success</title>
    <link rel="stylesheet" href="/css/payment-success.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
</head>
<body>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="message-box _success">
                <i class="fa fa-check-circle" aria-hidden="true"></i>
                <h2> Your payment was successful </h2>
                <p> Thank you for your payment. we will <br>
                    be in contact with more details shortly </p>
                <a type="button" class="btn btn-success" href="/home">Home</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>
