<div th:fragment="sidebarFragment" class="sidebar" data-background-color="dark">
    <div class="sidebar-logo">
        <!-- Logo Header -->
        <div class="logo-header" data-background-color="white">
            <a href="admin" class="navbar-brand logo">
                <img
                        src="/img/logo.png"
                        alt="navbar brand"
                        class="navbar-brand"
                        height="50"
                />
            </a>
            <div class="nav-toggle">
                <button class="btn btn-toggle toggle-sidebar">
                    <i class="gg-menu-right"></i>
                </button>
                <button class="btn btn-toggle sidenav-toggler">
                    <i class="gg-menu-left"></i>
                </button>
            </div>
            <button class="topbar-toggler more">
                <i class="gg-more-vertical-alt"></i>
            </button>
        </div>
    </div>
    <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">
            <ul class="nav nav-secondary">
                <li class="nav-item" th:classappend="${request.requestURI.contains('/admin') ? ' active' : ''}">
                    <a data-bs-toggle="collapse" href="#dashboard" class="collapsed" aria-expanded="false">
                        <i class="fas fa-home"></i>
                        <p>Dashboard</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="dashboard">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="admin">
                                    <span class="sub-item">Dashboard 1</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-section">
                    <span class="sidebar-mini-icon">
                        <i class="fas fa-user"></i>
                    </span>
                    <h4 class="text-section">Manage</h4>
                </li>
                <li class="nav-item" th:classappend="${request.requestURI.contains('/product') ? ' active' : ''}">
                    <a data-bs-toggle="collapse" href="#product">
                        <i class="fas fa-layer-group"></i>
                        <p>Manage Product</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="product">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="product">
                                    <span class="sub-item">Products</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item" th:classappend="${request.requestURI.contains('/voucher') ? ' active' : ''}">
                    <a data-bs-toggle="collapse" href="#account">
                        <i class="fas fa-user"></i>
                        <p>Manage Account</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="account">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="voucher">
                                    <i class="fas fa-gift"></i>
                                    <span class="sub-item">Manage Voucher</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
