<!DOCTYPE html>
<html lang="zxx" class="no-js" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{Fragments/Header :: client}">

<body>

	<div th:insert="~{Fragments/Navbar :: client}" class="header_area sticky-header"></div>
	
	<section th:insert="~{Fragments/Banner :: login}" class="banner-area organic-breadcrumb"></section>

	<section th:insert="~{Fragments/Input :: login}" class="login_box_area section_gap"></section>
	
	<footer th:replace="Fragments/Footer :: footer" class="footer-area section_gap"></footer>

	<div th:replace="~{Fragments/Scripts :: client}" class="header_area sticky-header"></div>
</body>

</html>