<!DOCTYPE html>
<html lang="zxx" class="no-js" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{Fragments/Header :: client-header}">


<body>
	<div th:insert="~{Fragments/Navbar :: client-navbar}" class="header_area sticky-header"></div>
	
	<section th:insert="~{Fragments/Banner :: register}" class="banner-area organic-breadcrumb"></section>

	<section th:insert="~{Fragments/Input :: register}" class="login_box_area section_gap"></section>
	
	<footer th:replace="Fragments/Footer :: footer" class="footer-area section_gap"></footer>
	
	<div th:replace="~{Fragments/Scripts :: client-scripts}" class="header_area sticky-header"></div>
</body>

</html>